<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryoMind - Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="icon" href="/static/images/Logo_CryoMindsf.png" type="image/x-icon">
    <script src="/static/js/clear_user_auth.js"></script>
</head>
<body>
    <div class="left-section">
        <img src="/static/images/Logo_CryoMindsf.png" alt="CryoMind Logo" class="imglogo">
    </div>
    
    <div class="right-section">
        <div class="logo">CryoMind</div>
        
        <form class="login-container">
            <h1>Login</h1>
            
            <div class="form-group">
                <label for="username">Usuario</label>
                <input type="text" id="username" placeholder="Ingrese su usuario">
            </div>
            
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" placeholder="Ingrese su contraseña">
            </div>
            
            <button type="submit">Ingresar</button>
            
            <div class="divider"></div>
            
            <div class="features">
                <h2>CryoMind</h2>
                <ul>
                    <li>Registro y seguimiento de pacientes neonatales</li>
                    <li>Monitoreo y análisis de la temperatura</li>
                </ul>
            </div>
        </form>
    </div>
    <script src="/static/js/auth.js"></script>
</body>
</html>